.modal {
  position: absolute;
  background-color: rgba(145, 145, 145, 0.315);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modalHeader {
  margin-bottom: 10px;
  display: flex !important;
  justify-content: space-between;
}

.modalHeader button {
  margin: 0 !important;
}

.modal form {
  width: 35%;

  background-color: rgb(35, 38, 45);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.modal form label {
  margin: 10px 0;
}

.modal form input {
  font-size: 16px;
  padding: 10px 15px;
  outline: none;
  color: #b8b8b8;
  border-radius: 5px;
  border: none;
  background-color: rgba(238, 238, 238, 0.112);
}

.modal form textarea {
  font-size: 16px !important;
  outline: none;
  font-size: 17px;
  padding: 10px 15px;
  color: #b8b8b8;
  outline: none;
  border-radius: 5px;
  border: none;
  resize: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  background-color: rgba(238, 238, 238, 0.112);
}

.modal form button {
  border: none;
  padding: 10px;
  margin-top: 15px;
  outline: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 14px;
}
